@use '@/styles/var';

//variables
:root {
  --black800: #0f0f0f;
  --black700: #0a0a0a;
  --white: #fff;
  --gray1100: #333;
  --gray1000: rgb(255 255 255 / 11%);
  --gray900: rgb(255 255 255 / 14%);
  --gray800: #a1a1a1;
  --gray700: #dcdcdc;
  --gray600: #ededed;
  --blue500: #47a8ff;
  --blue600: #0090ff;
  --blue700: #006efe;
  --blue800: #005be7;
  --blue1000: #022248;
  --red400: #f13342;
  --red500: #e2162a;
  --standard-border: 1px solid var(--gray900);
}

//default styles

html {
  font-size: 14px;
  font-family: Geist, sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  background-color: var(--black800);
  color: var(--white);
  width: 100dvw;
  height: 100dvh;
  color-scheme: dark;
  text-rendering: geometricprecision;
}

body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  overflow-x: hidden;
  height: 100%;
}

//layouts

.content-wrapper {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  width: 650px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 24px;
  padding: 36px 80px;
  background-color: var(--black700);
  border: var(--standard-border);
  border-radius: 12px;

  @include var.max-width-tablet {
    width: 90dvw;
    min-width: unset;
    padding: 16px;
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &-row {
    display: grid;
    grid-template-columns: 240px 240px;
    column-gap: 16px;
  }

  @include var.max-width-tablet{
    &-row {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
    }
  }
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  &-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  min-width: 400px;

  &-avatar {
    position: relative;
    display: flex;
    border-radius: 50%;
    transition: opacity .2s ease-in-out;

    &-icon {
      border-radius: 50%;
    }

    &-change {
      position: absolute;
      top: 80px;
      width: 100%;
      text-align: center;
      opacity: 0;

      &:hover {
        opacity: 1;
      }
    }

    &:hover {
      cursor: pointer;

      .profile-avatar-icon {
        opacity: 0.25;
      }
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
    }

    &-name {
      @include var.font-standard-24-500;
    }
  }

  &-tab {
    cursor: pointer;
    color: var(--gray800);
    padding-bottom: 4px;

    &-active {
      border-bottom: 1px solid var(--white);
      color: var(--white);
    }

    &-list {
      border-bottom: 1px solid var(--gray1100);
      display: flex;
      gap: 24px;
      justify-content: center;
      list-style: none;
    }
  }

  &-container {
    width: calc(100% - 100px);
    padding-right: 100px;
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    justify-content: center;
  }

  &-side-button {
    height: 100%;
    background-color: var(--black700);
    width: 100px;
    border-right: var(--standard-border);
    transition: background-color .2s ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: var(--gray1100);
    }

    &-img {
      width: 48px;
      height: 48px;
    }
  }
}

.chat {
  &-left-side {
    background-color: var(--black700);
    max-width: 400px;
    width: 100%;
    height: 100%;
    border-right: var(--standard-border);
  }

  &-profile {
    border-bottom: var(--standard-border);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-avatar {
      display: flex;
      justify-content: space-between;
    }
  }

  &-right-side {
    height: 100%;
    width: calc(100% - 400px);
  }

  &-messages {
    height: calc(100% - 127px);
    overflow-y: auto;
    scrollbar-width: none;
  }

  &-plug {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include var.font-standard-18-400-gray;
  }
}

.conversation {
  display: flex;
  height: 100%;
  flex-direction: column;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: var(--standard-border);
    background-color: var(--black700);
  }

  &-messages {
    overflow-y: auto;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    padding: 16px;
    gap: 8px;
    flex-direction: column;

    &-wrapper {
      margin-top: auto;
      display: flex;
      gap: 8px;
      flex-direction: column;
    }
  }

  &-message{
    max-width: 50%;
    padding: 16px;
    display: inline-flex;
    align-self: flex-start;
    background: var(--gray1000);
    border-radius: 8px 8px 8px 0;
    align-items: flex-end;
    gap: 4px;

    &-time {
      @include var.font-small-12-400-gray;
    }

    &-right {
      align-self: flex-end;
      background: var(--blue1000);
      border-radius: 8px 8px 0;

      .conversation-message-time {
        color: var(--blue500);
      }
    }
  }

  &-chat {
    display: flex;
    background: var(--black700);
    padding: 16px;
    gap: 16px;
    align-items: center;
  }
}

.show {
  opacity: 1;
}
