<main class="content-wrapper">
    <section class="form-wrapper">
        {{> Title text='Регистрация' }}
        <form class="form" action="http://localhost:3000/profile" method="post">
            {{> Input title='Почта' id='sign-up-form-email' type='email' name='email' placeholder='Введите почту'}}
            <div class="form-row">
                {{> Input title='Логин' id='sign-up-form-login' name='login' placeholder='Введите логин'}}
                {{> Input title='Телефон' id='sign-up-form-phone' name='phone' placeholder='Введите телефон'}}
            </div>
            <div class="form-row">
                {{> Input title='Имя' id='sign-up-form-first_name' name='first_name' placeholder='Введите имя'}}
                {{> Input title='Фамилия' id='sign-up-form-second_name' name='second_name' placeholder='Введите фамилию'}}
            </div>
            <div class="form-row">
                {{> Input title='Пароль' id='sign-up-form-password' name='password' placeholder='Введите пароль'}}
                {{> Input title='Повторите пароль' id='sign-up-form-repeat_password' name='repeat_password' placeholder='Введите пароль ещё раз'}}
            </div>
            {{> Button id='sign-up-form-button' type='submit' text='Зарегистрироваться'}}
        </form>
        {{> Link href='/' id='link-to-sign-in' text='Войти' variant='secondary' }}
    </section>
</main>
