<main class="content-wrapper">
    <button class="profile-side-button" id="profile-side-button">
        <img src="/assets/backIcon.svg" alt="backIcon" class="profile-side-button-img">
    </button>
    <div class="profile-container">
        <section class="profile">
            <article class="profile-avatar-wrapper">
                <div class="profile-avatar">
                    <img id='avatar-icon' src="/assets/avatarPlug.png" alt='avatarPlug' class="profile-avatar-icon"/>
                    <span id="avatar-change-text" class="profile-avatar-change">Сменить аватар</span>
                </div>
                <span class="profile-avatar-name">Данила</span>
            </article>
            <ul class="profile-tab-list">
                <li class="profile-tab {{#if personalInfo}}profile-tab-active{{/if}}" id="tab-personal-info">Персональная информация</li>
                <li class="profile-tab {{#unless personalInfo}}profile-tab-active{{/unless}}" id="tab-change-pass">Смена пароля</li>
            </ul>
            {{#if personalInfo}}
                <form class="form" action="http://localhost:3000/profile" method="post">
                    <div class="form-row">
                        {{> Input title='Почта' id='profile-form-email' type='email' name='email' placeholder='Введите почту'}}
                        {{> Input title='Логин' id='profile-form-login' name='login' placeholder='Введите логин'}}
                    </div>
                    <div class="form-row">
                        {{> Input title='Имя' id='profile-form-first_name' name='first_name' placeholder='Введите имя'}}
                        {{> Input title='Фамилия' id='profile-form-second_name' name='second_name' placeholder='Введите фамилию'}}
                    </div>
                    <div class="form-row">
                        {{> Input title='Имя в чате' id='profile-form-display_name' name='display_name' placeholder='Введите имя в чате'}}
                        {{> Input title='Телефон' id='profile-form-phone' name='phone' placeholder='Введите телефон'}}
                    </div>
                </form>
            {{else}}
                <form class="form" action="http://localhost:3000/profile" method="post">
                    {{> Input title='Текущий пароль' id='profile-form-oldPassword' name='oldPassword' placeholder='Введите старый пароль'}}
                    {{> Input title='Новый пароль' id='profile-form-newPassword' name='newPassword' placeholder='Введите новый пароль'}}
                    {{> Input title='Повторите новый пароль' id='profile-form-repeat_newPassword' name='repeat_newPassword' placeholder='Введите новый пароль ещё раз'}}
                </form>
            {{/if}}
            {{> Button id='profile-form-button-save' type='submit' blue=true text='Сохранить изменения'}}
            {{> Button id='profile-button-leave' red=true  text='Выйти из аккаунта'}}
        </section>
    </div>
</main>
