<main class="content-wrapper">
    <section class="error-page">
        <article class="error-page-heading">
            {{> H1 text='404' }}
            {{> H2 text='Не найдено' }}
        </article>
        {{> Title isSubTitle=true text='Упс! Не туда попали'}}
        {{> Link href='/' id='link-to-sign-up' text='Назад на главную' element='<img src="/assets/backIcon.svg" alt="backIcon"/>' variant='primary' size='big' }}
    </section>
</main>