<main class="content-wrapper">
    <section class="error-page">
        <article class="error-page-heading">
            {{> H1 text='500' }}
            {{> H2 text='Внутренняя ошибка сервера' }}
        </article>
        {{> Title isSubTitle=true text='Мы уже фиксим!'}}
        {{> Link href='/' id='link-refresh' text='Обновить страницу' element='<img src="/assets/refresh.svg" alt="refreshIcon"/>' variant='primary' size='big' }}
    </section>
</main>